version: '3.8'

services:
    php:
        build:
            dockerfile: ./Dockerfile
            context: .
        volumes:
            - .:/app
    
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.11.2
        ports:
            - 9200:9200
        volumes:
            - ${BACKUP_PATH}/elasticsearch/docker-instances:/usr/share/elasticsearch/data 
            # https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#_configuration_files_must_be_readable_by_the_elasticsearch_user
            # https://www.elastic.co/guide/en/elasticsearch/reference/current/important-settings.html
        environment:
            - node.name=my-elastic-node
            - discovery.type=single-node
            - cluster.name=my-docker-cluster
            - network.host=0.0.0.0
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    
    kibana:
        image: docker.elastic.co/kibana/kibana:7.11.2
        links: 
            - elasticsearch
        ports:
            - 5601:5601
        environment:
            - elasticsearch.hosts=http://elasticsearch:9200
            - server.host=0.0.0.0

